!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Wisconsin Circuit Courts eFiling"

    = favicon_link_tag '/favicon.ico'
    = ios_links( :asset_pipeline => true )
    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 8]
      = stylesheet_link_tag "all-ie7"
    /[if lt IE 7]
      = stylesheet_link_tag "all-ie6"
    /[if lt IE 7]
      = stylesheet_link_tag "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"


    = javascript_include_tag 'http://blueimp.github.com/JavaScript-Templates/tmpl.min.js'
    = javascript_include_tag 'http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js'
    = javascript_include_tag "application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tags
  %body
    = honey_badger [Rails.env, "BETA"] unless Rails.env.production?

    .container

      .content
        .row
          .span9
            = yield

      %footer
        %p CCAP eFiling Multi-File Upload Beta
